<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @listing.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @listing.end_date %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
