<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @home.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @home.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @home.longitude %>
</p>

<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
